/* 
 CODE SNIPPET TAKEN FROM: https://mikucoded.neocities.org/
 */
#cbox {
    left: 40px;
    bottom: -370px;
    z-index: 9999;
    position: fixed;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    border: 5px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 0 1px #dbf1fe;
    background: #ffffff;
}

#cbox:hover {
    bottom: 0;
}

#cboxtitle {
    background-color: #ffffff;
    background-image: url("../assets/images/itinerae@neocities_s39ua.png");
    padding: 8px 5px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font:
        italic 15px "georgia",
        arial;
    font-weight: 300;
    letter-spacing: 10px;
    color: #2b91ac;
    text-shadow: 1px 1px 1px #94afff;
    text-transform: uppercase;
}

#cboxdesc {
    width: 180px;
    height: 40px;
    padding: 5px;
    background-color: #ffffff;
    font:
        italic 10px "georgia",
        arial;
    text-align: center;
    letter-spacing: 1px;
    color: #2b91ac;
}